<footer>
    <div class="footer-info">
        <div class="footer-info-socials">
             <a href="https://www.facebook.com/choudaryammad.56232"><i class="fa-brands fa-facebook"></i></a>
             <a href="http://www.instagram.com/ammadchoudhry369"><i class="fa-brands fa-instagram"></i></a>
             <a href="https://github.com/AmmadCode"><i class="fa-brands fa-github"></i></a>

        </div>
         <div class="footer-info-links">
            <a href="/listings">About Us</a>
            <a href="/listings">Contact Us</a>
            <a href="/listings">Privacy Policy</a>
            <a href="/listings">Terms of Service</a>
        </div>
        <div class="footer-info-copy">© 2025 WanderLust Private Limited All Rights Reserved.</div>
       
    </div>
</footer>